header{
    position: sticky !important;
    top: 0;
    z-index: 10;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}
.nav-link{
    color: #000 !important;
}
.nav-link:hover{
    color: var(--green-color) !important;
}
.nav-item .active{
    color: var(--green-color) !important;
}
.navbar-brand img{
    width: 150px;
}